# GNU / GCC
compiler.gcc.linux-x64.linux-x64.stable_version=16.1.0
compiler.gcc.linux-x64.linux-x64.available_versions=16.1.0,15.2.0
compiler.gcc.linux-x64.linux-x64.default_format=tar.gz
compiler.gcc.linux-x64.linux-x64.formats=tar.xz,tar.gz,zip
compiler.gcc.linux-x64.linux-x64.url_template=https://github.com/coffee-clang/cup/releases/download/gcc-{version}-{host_platform}-{target_platform}/gcc-{version}-{host_platform}-{target_platform}.{format}

compiler.gcc.linux-x64.windows-x64.stable_version=16.1.0-rev1
compiler.gcc.linux-x64.windows-x64.available_versions=16.1.0-rev1
compiler.gcc.linux-x64.windows-x64.default_format=tar.gz
compiler.gcc.linux-x64.windows-x64.formats=tar.xz,tar.gz,zip
compiler.gcc.linux-x64.windows-x64.url_template=https://github.com/coffee-clang/cup/releases/download/gcc-{version}-{host_platform}-{target_platform}/gcc-{version}-{host_platform}-{target_platform}.{format}

compiler.gcc.windows-x64.windows-x64.stable_version=16.1.0-rev1
compiler.gcc.windows-x64.windows-x64.available_versions=16.1.0-rev1
compiler.gcc.windows-x64.windows-x64.default_format=zip
compiler.gcc.windows-x64.windows-x64.formats=zip,tar.xz,tar.gz
compiler.gcc.windows-x64.windows-x64.url_template=https://github.com/coffee-clang/cup/releases/download/gcc-{version}-{host_platform}-{target_platform}/gcc-{version}-{host_platform}-{target_platform}.{format}

# GNU / GDB
debugger.gdb.linux-x64.linux-x64.stable_version=17.1
debugger.gdb.linux-x64.linux-x64.available_versions=17.1
debugger.gdb.linux-x64.linux-x64.default_format=tar.gz
debugger.gdb.linux-x64.linux-x64.formats=tar.xz,tar.gz,zip
debugger.gdb.linux-x64.linux-x64.url_template=https://github.com/coffee-clang/cup/releases/download/gdb-{version}-{host_platform}-{target_platform}/gdb-{version}-{host_platform}-{target_platform}.{format}

debugger.gdb.windows-x64.windows-x64.stable_version=17.1
debugger.gdb.windows-x64.windows-x64.available_versions=17.1
debugger.gdb.windows-x64.windows-x64.default_format=zip
debugger.gdb.windows-x64.windows-x64.formats=zip,tar.xz,tar.gz
debugger.gdb.windows-x64.windows-x64.url_template=https://github.com/coffee-clang/cup/releases/download/gdb-{version}-{host_platform}-{target_platform}/gdb-{version}-{host_platform}-{target_platform}.{format}

# LLVM / Clang
compiler.clang.linux-x64.linux-x64.stable_version=22.1.5
compiler.clang.linux-x64.linux-x64.available_versions=22.1.5
compiler.clang.linux-x64.linux-x64.default_format=tar.gz
compiler.clang.linux-x64.linux-x64.formats=tar.xz,tar.gz,zip
compiler.clang.linux-x64.linux-x64.url_template=https://github.com/coffee-clang/cup/releases/download/clang-{version}-{host_platform}-{target_platform}/clang-{version}-{host_platform}-{target_platform}.{format}

compiler.clang.windows-x64.windows-x64.stable_version=22.1.5
compiler.clang.windows-x64.windows-x64.available_versions=22.1.5
compiler.clang.windows-x64.windows-x64.default_format=zip
compiler.clang.windows-x64.windows-x64.formats=zip,tar.xz,tar.gz
compiler.clang.windows-x64.windows-x64.url_template=https://github.com/coffee-clang/cup/releases/download/clang-{version}-{host_platform}-{target_platform}/clang-{version}-{host_platform}-{target_platform}.{format}

# LLVM / LLD
linker.lld.linux-x64.linux-x64.stable_version=22.1.5
linker.lld.linux-x64.linux-x64.available_versions=22.1.5
linker.lld.linux-x64.linux-x64.default_format=tar.gz
linker.lld.linux-x64.linux-x64.formats=tar.xz,tar.gz,zip
linker.lld.linux-x64.linux-x64.url_template=https://github.com/coffee-clang/cup/releases/download/lld-{version}-{host_platform}-{target_platform}/lld-{version}-{host_platform}-{target_platform}.{format}

linker.lld.windows-x64.windows-x64.stable_version=22.1.5
linker.lld.windows-x64.windows-x64.available_versions=22.1.5
linker.lld.windows-x64.windows-x64.default_format=zip
linker.lld.windows-x64.windows-x64.formats=zip,tar.xz,tar.gz
linker.lld.windows-x64.windows-x64.url_template=https://github.com/coffee-clang/cup/releases/download/lld-{version}-{host_platform}-{target_platform}/lld-{version}-{host_platform}-{target_platform}.{format}

# LLVM / LLDB
debugger.lldb.linux-x64.linux-x64.stable_version=22.1.5
debugger.lldb.linux-x64.linux-x64.available_versions=22.1.5
debugger.lldb.linux-x64.linux-x64.default_format=tar.gz
debugger.lldb.linux-x64.linux-x64.formats=tar.xz,tar.gz,zip
debugger.lldb.linux-x64.linux-x64.url_template=https://github.com/coffee-clang/cup/releases/download/lldb-{version}-{host_platform}-{target_platform}/lldb-{version}-{host_platform}-{target_platform}.{format}

debugger.lldb.windows-x64.windows-x64.stable_version=22.1.5
debugger.lldb.windows-x64.windows-x64.available_versions=22.1.5
debugger.lldb.windows-x64.windows-x64.default_format=zip
debugger.lldb.windows-x64.windows-x64.formats=zip,tar.xz,tar.gz
debugger.lldb.windows-x64.windows-x64.url_template=https://github.com/coffee-clang/cup/releases/download/lldb-{version}-{host_platform}-{target_platform}/lldb-{version}-{host_platform}-{target_platform}.{format}